<!DOCTYPE html>
<html lang="en">

    <head>
        <meta character="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link href="newTabCSS.css" rel = "stylesheet" type = "text/css"/>

        <script src="newTabJS.js" type="text/javascript" ></script>
        <--! Add angular stuff??? --/>

            <title>Petivity</title>
            </head>

        <body>

            <div id="mainPage">
                <h1>Petivity New Page Tab</h1>
                <div class="logo">logo goes here</div>
                <div class="calendar"> Calendar goes here </div>
                <div class="toDo"> To-Do:</div>
                <div class="pet"> pet goes here {{scope.main.selectedPet}} </div>
                <div class="blocking button">
                    <button type = "button" ng-click = "startBlocking()"> Start Blocking Now</button>
                </div>
                <div class="settings button"> settings button goes here </div>
            </div>

            <div id="settingsPage">
                <div class="blockedWebsites">

                </div>
                <div class="interests" ng-repeat = "interest in main.interests">
                    interest
                </div>
                <div class="petSelection"></div>
                <div class="blockType">
                    <div class="blockTypeButtons">
                        <button type="button" ng-click="selectHardOrSoftBlock(hard)">Hard Block </button>
                    </div>
                    <button type="button" ng-click="selectHardOrSoftBlock(soft)">Soft Block </button>
                </div>
            </div>

        </body>

        </html>
