body{
	background-color: aqua;
    font-family: 'Monserrat', sans-serif;
}

#mainPage{
    
}

.logo{
    
}

.calendar{

}

.toDo{

}

.pet{

}

.blockingButton{

}
.settingsButton{

}

button{
    background-color: aquamarine;
    padding: 5px;
}

#settingsPage{
    
}
.blockedWebsites{
    
}

.interests{
    
}

.petSelections{
    
}

.blockType{
    
}

#selectedPetAvatar{
    
}
