body {
    font-family: 'Monserrat', sans-serif;
    background-color: #45c4ff;
    color: white;
}

input[type=text], select {
    width: 100%;
    padding: 8px 8px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit], input[type=button] {
    width: 40%;
    background-color: rgb(134, 206, 205);
    color: white;
    padding: 10px 10px;
    /*margin: 8px 0;*/
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=button]:hover {
    background-color: rgb(185, 220, 240);
}

li {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

/* Remove margins and padding from the list */
ul {
    margin: 0;
    padding: 0;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    background: rgb(134, 206, 205);
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Darker background-color on hover */
ul li:hover {
    background: rgb(185, 220, 240);
}

.calendar {
    background-color: #82cece;
    height: 70vh;
    margin: 0 5px;
}

.calendar-arrow {
    vertical-align: middle;
    margin-top: 10px;
    padding: 0px;
}

.calendar-event {
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.calendar-events {
    height: 60vh;
    overflow-y: overlay;
}

.calendar-header {
    padding-left: 30px;
}

.calendar-section {
    padding: 0px;
    margin-top: 10px;
    background-color: #b5e4eb;
}

.checkboxes {
    background-color: #82cece;
    height: 70vh;
    margin: 0 5px;
}

/* Style the close button */
.close {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    padding: 4px 6px 16px 6px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.day-header {
    font-size: 12px;
}

.full-width {
    width: 100%;
}

.pet {
    background-color: gray;
    height: 40vh;
    margin: 0 5px;
    margin-top: 10px;
}

.petivity-calendars {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30vh;
    background-color: #b5e4eb;
}

.petivity-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px
}

.remove-padding {
    padding: 0px;
}

.section-header {
    font-size: 25px;
}

.task {
    height: 45px;
}

.tasks {
    background-color: #82cece;
    height: 40vh;
    margin: 0 5px;
}

.user-calendars {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30vh;
    background-color: #b5e4eb;
}

.scroll-overflow {
    height: 70%;
    overflow-y: overlay;
}

.task-header {
    font-size: 18px;
}

.task-header-section {
    height: 15%;
}

.task-add-section {
    height: 20%;
}

.offset-task {
    padding-left: 15%;
    border-right: 2px solid black;
}

/* Style the newTask and editTask forms */
#newTask, #editTask {
    z-index: 2;
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 85%;
    padding: 6px 6px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}