body {
    font-family: 'Monserrat', sans-serif;
    background-color: #45c4ff;
    color: white;
}

.petivity-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px
}

.section-header {
    font-size: 25px;
}

.calendar-header {
    padding-left: 30px;
}

.checkboxes {
    background-color: #82cece;
    height: 70vh;
    margin: 0 5px;
}

.calendar {
    background-color: #82cece;
    height: 70vh;
    margin: 0 5px;
}

.tasks {
    background-color: #82cece;
    height: 40vh;
    margin: 0 5px;
}

.task {
    height: 45px;
}

.pet {
    background-color: gray;
    height: 40vh;
    margin: 0 5px;
    margin-top: 10px;
}

.petivity-calendars {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30vh;
    background-color: #b5e4eb;
}

.user-calendars {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30vh;
    background-color: #b5e4eb;
}

.calendar-section {
    padding: 0px;
    margin-top: 10px;
    background-color: #b5e4eb;
}

.remove-padding {
    padding: 0px;
}

.calendar-events {
    height: 60vh;
    overflow-y: overlay;
}

.calendar-event {
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}

.calendar-arrow {
    vertical-align: middle;
    margin-top: 10px;
    padding: 0px;
}

.full-width {
    width: 100%;
}

.scroll-overflow {
    height: 70%;
    overflow-y: overlay;
}

.task-header {
    font-size: 18px;
}

.day-header {
    font-size: 12px;
}

.task-header-section {
    height: 10%;
}

.task-add-section {
    height: 20%;
}